    <%- include('partials/header') %>
    <section>
      <h2><i class="fa-solid fa-scroll" style="margin-right: 8px;"></i>Submit a Complaint</h2>
      <form action="/complaint" method="POST">
        <input name="name" placeholder="Your Name" required />
        <textarea name="description" placeholder="Describe issue" required></textarea>
        <button>Complaint</button>
      </form>
    </section>
    <% if(complaints.length !=0) { %>
    <section>
      <h2>Complaints</h2>
        <% complaints.forEach(c => { %>
          <div>
            <p><b><%= c.name %></b></p>
            <p><%= c.description %></p>
            <p><%= c.date.toDateString() %></p>
            <form action="/complaint/<%= c._id %>?_method=DELETE" method="post">
            <button style="width:150px; height: 50px;">delete</button>
            </form>
          </div>
        <% }) %>
    </section>
    <% } %>
<%- include('partials/footer') %>